#navbarDropdownMenuLink{
  color: white;
  border: none;
}
#dropdown {
    position: relative;
    display: inline-block;
  }

#liste_deroulante_event{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#liste_deroulante_event a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#liste_deroulante_event a:hover {
    background-color: #ddd;
}

#dropdown:hover #liste_deroulante_event{
    display: block;
}

#dropdown:hover #navbarDropdownMenuLink{
    background-color: #3e8e41;
}