#navbarDropdownMenuLink{
  color: white;
  border: none;
}
#dropdown {
    position: relative;
    display: inline-block;
  }

#liste_deroulante_event{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#liste_deroulante_event a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#liste_deroulante_event a:hover {
    background-color: #ddd;
}

#dropdown:hover #liste_deroulante_event{
    display: block;
}

#dropdown:hover #navbarDropdownMenuLink{
    background-color: #ffb938;
}

#search{
    margin-left: 7px;
}

/* Mise en forme des différents titres */
h1
{
	margin-top: 5px;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	color: black;
	padding: 20px;
}

h2
{
	font-size: 2em;
	font-weight: bold;
	color: black;
	padding: 20px;
	text-align: center;
}

h3
{
	font-size: 2em;
	font-weight: bold;
	padding-top: 30px;
}

/* Mise en forme du formulaire de la page "boite à idées" */

#formulaire{
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 600px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    margin-bottom: 2em;
  }
  
  
  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 135px;
    text-align: right;
  }
  
  input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
  
    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;
  
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
  }
  
  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
  }
  
button:hover{
   box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
   -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important; 
   Color: #ffb938 !important;
} 
  
button{
    background-color: black;
    border:black;
    color: white;
    font-size: 16px;
    text-align: center;
      border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

#soumettre{

text-align: center
}

.vente{
  max-height: 200px;
}

/* placement du bouton panier dans la boutique */
.panier{
	text-align: right;
	padding-right: 4em;
}

#presentation{
padding-left: 4em;
padding-right: 4em;
}

#tri{
	text-align: center;
}

.topsales {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
  }
  .topsales .pricing {
	padding: 3.3rem;
	color: black;
	background-color: #fff;
  }
  @media (max-width: 767px) {
	.topsales .pricing {
	  padding: 1.5rem;
	}
  }
  .topsales .plan-header,
  .topsales .plan-body {
	background-color: #fff;
  }
  .topsales .plan-title {
	margin-top: 1.4rem;
  }
  .topsales .price-figure {
	font-weight: 700;
	color: black;
  }
  @media (max-width: 550px) {
	.topsales .price-figure {
	  font-size: 4.25rem;
	}
  }
  .topsales .price-value {
	font-weight: 700;
	vertical-align: top;
  }
  .topsales hr {
	margin: 2rem 0;
	}
	
.media-container-row {
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-align-content: center;
-ms-flex-line-pack: center;
align-content: center;
-webkit-align-items: start;
-ms-flex-align: start;
align-items: start; }
.media-container-row .media-size-item {
width: 400px; }

@media (min-width: 992px) {
.media-container-row {
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap; } }

.display-4 {
line-height: 1;
word-break: break-word;
word-wrap: break-word; }

.mbr-section-btn a.btn:not(.btn-form):hover{
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important; 
  Color: #ffb938 !important;
}